@CHARSET "UTF-8";
#Buy {
	background-color: #ff0036;
	border: 1px solid #ff0036;
	color: #fff;
	margin-right: 0;
	float: right;
	overflow: hidden;
	position: relative;
	width: 178px;
	font-family: sans-serif;
	text-align: center;
	text-decoration: none;
	height: 44px;
	line-height: 44px;
}
