<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>shopping</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>adminAddProductServlet</display-name>
    <servlet-name>adminAddProductServlet</servlet-name>
    <servlet-class>com.exercise.web.AdminAddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminAddProductServlet</servlet-name>
    <url-pattern>/adminAddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminShowAllProductServlet</display-name>
    <servlet-name>adminShowAllProductServlet</servlet-name>
    <servlet-class>com.exercise.web.AdminShowAllProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminShowAllProductServlet</servlet-name>
    <url-pattern>/adminShowAllProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminDeleteSomeProductServlet</display-name>
    <servlet-name>adminDeleteSomeProductServlet</servlet-name>
    <servlet-class>com.exercise.web.AdminDeleteSomeProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminDeleteSomeProductServlet</servlet-name>
    <url-pattern>/adminDeleteSomeProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminEditorProductServlet</display-name>
    <servlet-name>adminEditorProductServlet</servlet-name>
    <servlet-class>com.exercise.web.AdminEditorProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminEditorProductServlet</servlet-name>
    <url-pattern>/adminEditorProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminEditorShowProductServlet</display-name>
    <servlet-name>adminEditorShowProductServlet</servlet-name>
    <servlet-class>com.exercise.web.AdminEditorShowProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminEditorShowProductServlet</servlet-name>
    <url-pattern>/adminEditorShowProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminSearchProductServlet</display-name>
    <servlet-name>adminSearchProductServlet</servlet-name>
    <servlet-class>com.exercise.web.AdminSearchProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminSearchProductServlet</servlet-name>
    <url-pattern>/adminSearchProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminShowCategoryServlet</display-name>
    <servlet-name>adminShowCategoryServlet</servlet-name>
    <servlet-class>com.exercise.web.AdminShowCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminShowCategoryServlet</servlet-name>
    <url-pattern>/adminShowCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletShowAllProduct</display-name>
    <servlet-name>servletShowAllProduct</servlet-name>
    <servlet-class>com.exercise.web.ServletShowAllProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletShowAllProduct</servlet-name>
    <url-pattern>/servletShowAllProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletProductDetail</display-name>
    <servlet-name>servletProductDetail</servlet-name>
    <servlet-class>com.exercise.web.ServletProductDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletProductDetail</servlet-name>
    <url-pattern>/servletProductDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletAddShoppingcart</display-name>
    <servlet-name>servletAddShoppingcart</servlet-name>
    <servlet-class>com.exercise.web.ServletAddShoppingcart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletAddShoppingcart</servlet-name>
    <url-pattern>/servletAddShoppingcart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletShowShoppingcart</display-name>
    <servlet-name>servletShowShoppingcart</servlet-name>
    <servlet-class>com.exercise.web.ServletShowShoppingcart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletShowShoppingcart</servlet-name>
    <url-pattern>/servletShowShoppingcart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminCategoryServlet</display-name>
    <servlet-name>adminCategoryServlet</servlet-name>
    <servlet-class>com.exercise.web.AdminCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminCategoryServlet</servlet-name>
    <url-pattern>/adminCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminResetSearchServlet</display-name>
    <servlet-name>adminResetSearchServlet</servlet-name>
    <servlet-class>com.exercise.web.AdminResetSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminResetSearchServlet</servlet-name>
    <url-pattern>/adminResetSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletRegister</display-name>
    <servlet-name>servletRegister</servlet-name>
    <servlet-class>com.exercise.web.ServletRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletRegister</servlet-name>
    <url-pattern>/servletRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletAutoLogin</display-name>
    <servlet-name>servletAutoLogin</servlet-name>
    <servlet-class>com.exercise.web.ServletAutoLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletAutoLogin</servlet-name>
    <url-pattern>/servletAutoLogin</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>loginFilter</display-name>
    <filter-name>loginFilter</filter-name>
    <filter-class>com.exercise.web.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>servletCleanSession</display-name>
    <servlet-name>servletCleanSession</servlet-name>
    <servlet-class>com.exercise.web.ServletCleanSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletCleanSession</servlet-name>
    <url-pattern>/servletCleanSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletCheckDupUsername</display-name>
    <servlet-name>servletCheckDupUsername</servlet-name>
    <servlet-class>com.exercise.web.ServletCheckDupUsername</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletCheckDupUsername</servlet-name>
    <url-pattern>/servletCheckDupUsername</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editSCProductCount</display-name>
    <servlet-name>editSCProductCount</servlet-name>
    <servlet-class>com.exercise.web.EditSCProductCount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editSCProductCount</servlet-name>
    <url-pattern>/editSCProductCount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletSettlement</display-name>
    <servlet-name>servletSettlement</servlet-name>
    <servlet-class>com.exercise.web.ServletSettlement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletSettlement</servlet-name>
    <url-pattern>/servletSettlement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletShoppingCartMap</display-name>
    <servlet-name>servletShoppingCartMap</servlet-name>
    <servlet-class>com.exercise.web.ServletShoppingCartMap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletShoppingCartMap</servlet-name>
    <url-pattern>/servletShoppingCartMap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletShowOrder</display-name>
    <servlet-name>servletShowOrder</servlet-name>
    <servlet-class>com.exercise.web.ServletShowOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletShowOrder</servlet-name>
    <url-pattern>/servletShowOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletEditSCCount</display-name>
    <servlet-name>servletEditSCCount</servlet-name>
    <servlet-class>com.exercise.web.ServletEditSCCount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletEditSCCount</servlet-name>
    <url-pattern>/servletEditSCCount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletDelSCRecord</display-name>
    <servlet-name>servletDelSCRecord</servlet-name>
    <servlet-class>com.exercise.web.ServletDelSCRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletDelSCRecord</servlet-name>
    <url-pattern>/servletDelSCRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletByNow</display-name>
    <servlet-name>servletByNow</servlet-name>
    <servlet-class>com.exercise.web.ServletByNow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletByNow</servlet-name>
    <url-pattern>/servletByNow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletPay</display-name>
    <servlet-name>servletPay</servlet-name>
    <servlet-class>com.exercise.web.ServletPay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletPay</servlet-name>
    <url-pattern>/servletPay</url-pattern>
  </servlet-mapping>
</web-app>